// == COLORS ==

$primary-text-color: #28283D;
$secondary-text-color: #87879D;

$bg-color: #FAFAFA;

$primary-btn-color: #4D96A9;
$secondary-btn-color: #855FB1;

$primary-btn-1-secondary-text-color: #8FE3F9;
$primary-btn-2-secondary-text-color: #B18BDD;

$primary-btn-color--hover: #71C0D4;
$secondary-btn-color--hover: #D9B8FF;

// == SPACING ==

$spacing-xs: 1.6rem;
$spacing-s: 2.4rem;
$spacing-m: 3.2rem;
$spacing-l: 4rem;
$spacing-xl: 4.8rem;
$spacing-xxl: 6.4rem;

// == FONT SIZES ==

$font-xs: 1.6rem;
$font-s: 1.8rem;
$font-m: 3.2rem;
$font-l: 4rem;
$font-xl: 4.8rem;
$font-xxl: 6.4rem;